.grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center; */
    width: 80%;
    margin: auto;
}

.content__display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 300px;
    margin: auto;
    /* padding: 1rem; */
    background-color: white;
    border: solid 1px lightslategray;
    position: relative;
    top: 30vh;
    border-radius: 10px;
    overflow: hidden;
}

.content__display a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.content__display h1 {
    margin: 1rem 0;
}

.inner__display {
    border-radius: 10px;
    height: 300px;
}

.inner__display img {
    border-radius: 10px;
    border: solid 2px black;
}

@media (max-width: 1300px){
    .grid__container {
        height: 70vh;
    }

    .content__display {
        height: 300px;
        width: 300px;
    }

    .content__display img {
        height: 90%;
        width: 90%;
    }

    .inner__display {
        height: 200px;
    }
}