* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 1px 10px;
    position: fixed;
    height: 6vh;
    width: 100%;
    z-index: 999;
}

#nav__logo {
    width: 50px;
    margin-left: 10vh;
}

.nav__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 43.5%;
}

#nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vh;
    height: 100%;
}

#nav__links a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px cornflowerblue;
    border-radius: 5px;
    height: 90%;
    margin-right: 0.25rem;
    padding: 0.25rem;
    color: black;
    text-decoration: none;
    word-wrap: break-word;
}

#nav__links a:hover {
    background-color: lightcyan;
}

.side__bar {
    display: none;
    flex-direction: column;
    background: rgb(61, 64, 66);
    height: 100vh;
    width: 3rem;
    position: absolute;
    top: 50px;
    right: 0;
}

.side__bar:hover {
    width: 15rem;
    transition: width 600ms;
}

.side__bar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 75px;
    width: 100%;
    border-radius: 10px;
}

.side__bar:hover a {
    margin: 0.5rem;
}

.side__bar a:hover {
    background-color: rgb(67, 111, 161);
}

.side__bar img {
    height: 30px;
    margin: 0.75rem;
}

.side__bar:hover img {
    margin: 2rem;
    transition: margin 500ms linear;
}

.side__bar span {
    opacity: 0;
}

.side__bar:hover span {
    opacity: 1;
    transition: opacity 500ms ease 300ms;
}

/* Cover/Banner Photo */
#banner {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 6vh;
}

@media (max-width: 1300px){

    .nav__bar {
        height: 50px;
    }

    #nav__links {
        display: none;
    }

    #menu__icon {
        display: block
    }

    .side__bar {
        display: flex;
    }
}